.circular-progress {
  background: conic-gradient(rgb(99 102 241) 3.6deg, #ededed 0deg);
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 105px;
  width: 105px;
  background-color: #fff;
  border-radius: 50%;
}