* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8ED2C2;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
}

.container {
    position: absolute;
    width: 18.741rem;
    height: 22.682rem;
    left: 33.311rem;
    top: 5.9rem;
}

.container .Title {
    position: absolute;
    width: 12rem;
    height: 4.563rem;
    left: 3.125rem;


    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 3.636rem;
    line-height: 4.563rem;
    /* identical to box height */

    text-align: center;

    color: #224957;
}

.Info {
    position: absolute;
    width: 17.688rem;
    height: 1.125rem;
    left: 0.563rem;
    top: 5.875rem;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 0.909rem;
    line-height: 1.125rem;
    text-align: center;

    color: #224957;
}

.emailField {

    position: absolute;
    width: 17.046rem;
    height: 2.557rem;
    left: 0.938rem;
    top: 10rem;

    background: #224957;
    border-radius: 0.568rem;

    color: white;
    text-align: center;
}

.passField {
    position: absolute;
    width: 17.046rem;
    height: 2.557rem;
    left: 0.938rem;
    top: 13.75rem;

    background: #224957;
    border-radius: 0.568rem;

    color: white;
    text-align: center;
}

.options {
    position: absolute;
    width: 18.741rem;
    height: 1rem;
    left: 0.938rem;
    top: 17.5rem;
}

.options p {
    display: inline-block;
    position: relative;
    width: 6.188rem;
    height: 1rem;
    left: 0.25rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.795rem;
    line-height: 1rem;


    text-align: center;

    color: #093545;
}

.options a {
    display: inline-block;
    position: relative;
    width: 7.25rem;
    height: 1rem;
    left: 2.188rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.795rem;
    text-decoration: none;
    line-height: 1rem;
    text-align: center;
    color: #000000;
}

.loginButton {
    position: absolute;
    width: 17.046rem;
    height: 2.557rem;
    left: 1.125rem;
    top: 20rem;

    background: #20DF7F;
    box-shadow: 0rem 0.227rem 0.227rem rgba(0, 0, 0, 0.3);
    border-radius: 0.568rem;
}

.loginButton:hover {
    background: rgb(32, 223, 127,0%);
}

.footer {
    position: absolute;
    width: 84.313rem;
    height: 7.188rem;
    left: 0rem;
    top: 33.66rem;
}